@using MoeKinoWebApp.Models
@{
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model MovieListViewModel

<!-- Список фильмов -->
<div class="container mt-4">
    @foreach (var movie in Model.Movies)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="data:image/jpeg;base64,@movie.Poster" alt="@movie.Title">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">@movie.Description</p>
                <p class="card-text"><small class="text-muted" >Release Year: @movie.ReleaseYear</small></p>
                <p class="card-text"><small class="text-muted" >Genres: @string.Join(", ", movie.Genres.Select(g => g.Name))</small></p>
                <p class="card-text"><small class="text-muted" >Countries: @string.Join(", ", movie.Countries.Select(c => c.Name))</small></p>
                <a href="@Url.Action("MovieDetails", "MovieList", new { id = movie.Id })" class="btn btn-primary" data-i18n="view-details">View Details</a>
            </div>
        </div>
    }
</div>
